@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,500&display=swap');

@font-face {
    font-family: 'Norse';
    src: url('./fonts/Norse-Bold.woff2') format('woff2'),
        url('./fonts/Norse-Bold.woff2') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: whitesmoke;
}

a {
    color: inherit;
    text-decoration: none;
}

main {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
}

.left {
    position: relative;
    width: 50vw;
    max-width: fit-content;
    overflow: hidden;
}

.right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 200px;
    height: 150px;;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.logo-img {
    height: 125px;
    width: auto;
}

.logo-text {
    font-size: 100px;
    font-family: 'Norse', sans-serif;
    color: #fff;
}

.img-credits {
    font-size: 12px;
    width: 100%;
    position: absolute;
    bottom: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
}

.text {
    max-width: 53ch;
    font-size: 24px;
    font-weight: 500;
    margin-inline: 50px;
}

.sub-text {
    margin-top: 24px;
    margin-bottom: 50px;
}

.sign-up-btn {
    width: fit-content;
    background-color: #596D48;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    padding: 12px 40px;
    margin: 35px 50px;
    border: none;
    border-radius: 6px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
    cursor: pointer;
}

.sign-up-btn:hover {
    opacity: 0.9;
}

.sign-up-btn:active {
    transform: scale(0.9);
    transition: 100ms;
}

.log-in-text {
    margin-inline: 50px;
}

.log-in {
    font-weight: 700;
    color: #596D48;
}

.form-container {
    padding: 25px 50px 45px;
    background-color: #fff;
    width: 100%;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

.form-title {
    font-size: 28px;
    font-weight: 500;
    color: #383838;
}

form {
    display: flex;
    flex-direction: column;
    gap: 26px;
}

fieldset {
    display: flex;
    border: none;
    gap: 80px;
}

label {
    display: block;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #383838;
}

input {
    width: 280px;
    padding: 6px;
    border: 2px solid #E5E7EB;
    border-radius: 6px;
}

button,
input,
select {
  font-family: inherit;
  font-size: 100%;
}